@page "/EntradasHuacales/Edit/{IdEntrada:int}"

@inject NavigationManager navigationManager;
@inject EntradasHuacalesServices entradasHuacalesServices

@rendermode InteractiveServer

<PageTitle>Crear Entrada Huacal</PageTitle>
<EditForm Model="EntradaHuacal" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Entrada Huacal</h5>
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label"><strong>Fecha</strong></label>
                    <InputDate class="form-control" @bind-Value="EntradaHuacal.Fecha"></InputDate>
                    <ValidationMessage For="(() => EntradaHuacal.Fecha)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Nombre Cliente</strong></label>
                    <InputText class="form-control" @bind-Value="EntradaHuacal.NombreCliente"></InputText>
                    <ValidationMessage For="(() => EntradaHuacal.NombreCliente)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Cantidad</strong></label>
                    <InputNumber class="form-control" @bind-Value="EntradaHuacal.Cantidad"></InputNumber>
                    <ValidationMessage For="(() => EntradaHuacal.Cantidad)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Precio</strong></label>
                    <InputNumber class="form-control" @bind-Value="EntradaHuacal.Precio"></InputNumber>
                    <ValidationMessage For="(() => EntradaHuacal.Cantidad)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Importe</strong></label>
                    <input class="form-control" value="@importeCalculado.ToString("0.00")" readonly />
                </div>

                @if (!string.IsNullOrEmpty(errorMensaje))
                {
                    <div class="alert alert-danger">@errorMensaje</div>
                }

                <div class="modal fade" id="modalEliminar" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">¿Está seguro de que desea eliminar esta entrada?</h5>
                            </div>

                            <div class="modal-body">
                                
                                <label class="form-label"><strong>Nombre: </strong>@EntradaHuacal.NombreCliente</label><br />
                                <label class="form-label"><strong>Cantidad: </strong>@EntradaHuacal.Cantidad</label><br />
                                <label class="form-label"><strong>Precio: </strong>@EntradaHuacal.Precio</label><br />
                                <label class="form-label"><strong>Fecha: </strong>@EntradaHuacal.Fecha.ToShortDateString()</label>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" @onclick="Eliminar">Aceptar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <a href="/EntradasHuacales/Index" class="btn btn-secondary bi bi-arrow-left"> Volver</a>
                <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
                <button type="button" class="btn btn-danger bi bi-trash" data-bs-toggle="modal" data-bs-target="#modalEliminar"> Eliminar</button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int IdEntrada { get; set; }

    public EntradasHuacales EntradaHuacal { get; set; } = new EntradasHuacales();

    public string? errorMensaje;

    public double importeCalculado => EntradaHuacal.Precio * EntradaHuacal.Cantidad;

    protected override async Task OnInitializedAsync()
    {
        if (IdEntrada > 0)
        {
            EntradaHuacal = await entradasHuacalesServices.Buscar(IdEntrada) ?? new EntradasHuacales();
        }
    }

    public async Task Guardar()
    {
        if (await entradasHuacalesServices.Guardar(EntradaHuacal))
        {
            navigationManager.NavigateTo("/EntradasHuacales/Index");
        } else
        {
            errorMensaje = "No se pudo guardar la entrada huacal.";
        }
    }

    public async Task Eliminar()
    {
        if (await entradasHuacalesServices.Eliminar(IdEntrada))
        {
            navigationManager.NavigateTo("/EntradasHuacales/Index");
        } else
        {
            errorMensaje = "No ses pudo eliminar la entrada huacal.";
        }
    }
}